extends layoutAdmin


block content
  a(href='http://localhost:3000/new_user')
   button(class="btn btn-success")='crear nuevo usuario'
  if(usuarios)
     table(class="table")
      thead
        tr
          th Nombre
          th Correo
      each val, index in usuarios
        tr
          td
           a(href=`${domain}${val._id}`)=val.firstName+" "+val.lastName
          td
           a(href=`${domain}${val._id}`)=val.email
         

       
      